

<div class="container">
  <header class="header">
    <H1 class='school-title'>NYCDA</h1>

    <nav class="main-nav">
      <div>
        <a href="/">Sign In</a>
      </div>
      <div>
        <a href="/">Sign Up</a>
      </div>
    </nav>
  </header>


  <div class="content">
    <nav class="sidebar">
      <ul class="side-nav">
      
        <li class="side-nav_item">
          <a href="/" class="side-nav_link">
            <%= image_tag("home.svg", class:'side-nav_icon')  %>
            <span></span>
          </a>
        </li>

        <li class="side-nav_item">
          <a href="/teachers" class="side-nav_link">
            <%= image_tag("people.svg", class:'side-nav_icon') %> 
              <span></span>
          </a>
        </li>

        <li class="side-nav_item">
          <a href="/students" class="side-nav_link">
            <%= image_tag("student.svg",class:'side-nav_icon')   %>
              <span></span>
          </a>
        </li>

        <li class="side-nav_item side-nav_item--active">
          <a href="/cohorts" class="side-nav_link">
            <%= image_tag("cohort.svg",class:'side-nav_icon') %>
              <span></span>
          </a>
        </li>

        <li class="side-nav_item">
          <a href="/courses" class="side-nav_link">
            <%= image_tag("course.svg", class:'side-nav_icon')  %>
              <span></span>
          </a>
        </li>

        <li class="side-nav_item">
          <a href="/" class="side-nav_link">
            <%= image_tag("settings.svg", class:'side-nav_icon')  %>
              <span></span>
          </a>
        </li>
      </ul>
      </ul>


    </nav>



    <main class="main-view">

      <div class="overview">
        <h1 class="overview_heading">
          Cohorts
        </h1>

      <% if notice != nil %>
        <div class="overview_rating" id="notice">
          <div class="overview_rating-average">
            <%= notice %>
          </div>  
        </div>
        <% end %>

      </div>


      <div class="detail">
        <div class="description">

<p>
  <strong>Name:</strong>
  <%= @cohort.name %>
</p>

<p>
  <strong>Start date:</strong>
  <%= @cohort.start_date %>
</p>

<p>
  <strong>End date:</strong>
  <%= @cohort.end_date %>
</p>

<p>
  <strong>Course:</strong>
  <%= @cohort.course_id %>
</p>

<%= link_to 'Edit', edit_cohort_path(@cohort) %> |
<%= link_to 'Back', cohorts_path %>



        </div>


    </main>
    </div>