<div class="container">
      <header class="header">
      <H1 class='school-title'>NYCDA</h1>

        <nav class="main-nav">
          <div>
            <a href="/">Sign In</a>
          </div>
          <div>
            <a href="/">Sign Up</a>
          </div>
        </nav>
      </header>


      <div class="content">
        <nav class="sidebar">
          <ul class="side-nav">

     <li class="side-nav_item side-nav_item--active">
          <a href="/" class="side-nav_link">
            <%= image_tag("home.svg", class:'side-nav_icon')  %>
            <span></span>
          </a>
        </li>

        <li class="side-nav_item">
          <a href="/teachers" class="side-nav_link">
            <%= image_tag("people.svg", class:'side-nav_icon') %> 
              <span></span>
          </a>
        </li>

        <li class="side-nav_item">
          <a href="/students" class="side-nav_link">
            <%= image_tag("student.svg",class:'side-nav_icon')   %>
              <span></span>
          </a>
        </li>

        <li class="side-nav_item">
          <a href="/cohorts" class="side-nav_link">
            <%= image_tag("cohort.svg",class:'side-nav_icon') %>
              <span></span>
          </a>
        </li>

        <li class="side-nav_item">
          <a href="/courses" class="side-nav_link">
            <%= image_tag("course.svg", class:'side-nav_icon')  %>
              <span></span>
          </a>
        </li>

        <li class="side-nav_item">
          <a href="/" class="side-nav_link">
            <%= image_tag("settings.svg", class:'side-nav_icon')  %>
              <span></span>
          </a>
        </li>
          </ul>

         
        </nav>



        <main class="main-view">

          <div class="overview">
            <h1 class="overview_heading">
              We're one of the highest rated schools on course report!
            </h1>

            <div class="overview_rating">
              <div class="overview_rating-average">9.6</div>
              <div class="overview_rating-count">429 votes</div>
            </div>
          </div>

          
          <div class="detail">
            <div class="description">
              <p class="paragraph">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi
                nisi dignissimos debitis ratione sapiente saepe. Accusantium
                cumque, quas, ut corporis incidunt deserunt quae architecto
                voluptate.
              </p>
              <p class="paragraph">
                Accusantium cumque, quas, ut corporis incidunt deserunt quae
                architecto voluptate delectus, inventore iure aliquid aliquam.
              </p>
              <ul class="list">
                <li class="list_item">Lorem ipsum dolor sit amet.</li>
                <li class="list_item">dolor sit amet.</li>
                <li class="list_item"> consectetur adipisicing elit.</li>
                <li class="list_item"> Dolores ad rerum neque.</li>
                <li class="list_item">Ad nisi harum repellat maiores.</li>
                <li class="list_item">Deserunt quod repellendus odio.</li>
                <li class="list_item">Lorem ipsum dolor sit amet.</li>
                <li class="list_item">Nesciunt distinctio totam vitae.</li>
              </ul>
              <div class="recommend">
                <p class="recommend_count">
                  Martin and 3 other friends recommend this NYCDA.
                </p>
                <div class="recommend_friends">
                <%= image_tag("user-3.jpg", class:'recommend_photo') %>
           
                <%= image_tag("user-4.jpg", class:'recommend_photo') %>
                 
                <%= image_tag("user-5.jpg", class:'recommend_photo') %>
               
                <%= image_tag("user-6.jpg", class:'recommend_photo') %>
                  
                </div>
              </div>
            </div>

            <figure class="user-reviews">
              <figure class="review">
                <blockquote class="review_text">
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga
                  doloremque architecto dicta animi, totam, itaque officia ex.
                </blockquote>
                <figcaption class="review_user">
                <%= image_tag("user-1.jpg", class:'review_photo') %>
                  
                  <div class="review_user-box">
                    <p class="review_user-name">Scott</p>
                    <p class="review_user-date">March 23rd, 2018</p>
                  </div>
                  <div class="review_rating">21.8</div>
                </figcaption>
              </figure>

              <figure class="review">
                <blockquote class="review_text">
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga
                  doloremque architecto dicta animi.
                </blockquote>
                <figcaption class="review_user">
                  <%= image_tag("user-2.jpg", class:'review_photo') %>
                  <div class="review_user-box">
                    <p class="review_user-name">Lauren</p>
                    <p class="review_user-date">Sept 13th, 2012</p>
                  </div>
                  <div class="review_rating">9.3</div>
                </figcaption>
              </figure>

            </div>


          </div>


        </main>
      </div>
    </div>