

<div class="container">
  <header class="header">
    <H1 class='school-title'>NYCDA</h1>

    <nav class="main-nav">
      <div>
        <a href="/">Sign In</a>
      </div>
      <div>
        <a href="/">Sign Up</a>
      </div>
    </nav>
  </header>


  <div class="content">
    <nav class="sidebar">
      <ul class="side-nav">
       <li class="side-nav_item">
          <a href="/" class="side-nav_link">
            <%= image_tag("home.svg", class:'side-nav_icon')  %>
            <span></span>
          </a>
        </li>

        <li class="side-nav_item side-nav_item--active">
          <a href="/teachers" class="side-nav_link">
            <%= image_tag("people.svg", class:'side-nav_icon') %> 
              <span></span>
          </a>
        </li>

        <li class="side-nav_item">
          <a href="/students" class="side-nav_link">
            <%= image_tag("student.svg",class:'side-nav_icon')   %>
              <span></span>
          </a>
        </li>

        <li class="side-nav_item">
          <a href="/cohorts" class="side-nav_link">
            <%= image_tag("cohort.svg",class:'side-nav_icon') %>
              <span></span>
          </a>
        </li>

        <li class="side-nav_item">
          <a href="/courses" class="side-nav_link">
            <%= image_tag("course.svg", class:'side-nav_icon')  %>
              <span></span>
          </a>
        </li>

        <li class="side-nav_item">
          <a href="/" class="side-nav_link">
            <%= image_tag("settings.svg", class:'side-nav_icon')  %>
              <span></span>
          </a>
        </li>
      </ul>


    </nav>



    <main class="main-view">

      <div class="overview">
        <h1 class="overview_heading">
          Teachers 
        </h1>

        
 <% if notice != nil %>
        <div class="overview_rating" id="notice">
          <div class="overview_rating-average">
            <%= notice %>
          </div>  
        </div>
        <% end %>

      </div>


      <div class="detail">
        <div class="description">
          <p class="paragraph">
            
             <h1>Editing Teacher</h1>

<%= render 'form', teacher: @teacher %>

<%= link_to 'Show', @teacher %> |
<%= link_to 'Back', teachers_path %>

          </p>

        </div>



    </main>
    </div>
  </div>